*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 203, 203);
    background: url(pexels-reyyan-505450018-31224767.jpg) center center/cover;
}
.container{
    background-color: rgb(166, 214, 198,0.3);
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: rgba(255, 255, 255, 0.877);
}
h3{
    color: rgba(45, 246, 179, 0.648);
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}
input{
    padding: 5px 15px;
    margin: 0.65rem;
    border-radius: 1rem;
    border: none;
    outline: none;
}
#btn{
    padding: 0.65rem 2rem;
    margin-left: 3rem;
    margin-top: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(67, 149, 139);
    border: none;
    color: white;
}
